.o_user_menu  .dropdown-menu  img {
    height: 20px;
    margin: 2px;
}
.fa.debug-on {
    color: #28a745; 
    margin-top: 14px;
    font-size: 1.1rem;
}

.fa.debug-off {
    color: #ffffff; 
    margin-top: 14px;
    font-size: 1.1rem;
}
